@using CSoDnDP.Model;
@using CSoDnDP.Entities.Interfaces.Parties;
@using System.Text;
@{
    Layout = "~/Layouts/_AuthLayout.cshtml";
    Page.Title = "Control System of Dungeon and Dragons Parties";

    IParty[] parties = LogicKeeper.Logic.Party.GetAllParties().ToArray();
}

<link href="~/Content/ListStyles.css" rel="stylesheet" />
<a href="~/Pages/Parties/AddParty.cshtml" class="link_button">
    Add party
</a>
<br />
<br />
DataBase contains @parties.Length parties.
<br />
@foreach(IParty party in parties)
{    
    <br />
    <div class="list_inline_record">
        - @party.ID) "@party.Name" from @party.MasterName (@party.State)
    </div>  
    <a href="~/Pages/Parties/LookParty.cshtml?id=@party.ID" class="list_link_button">
        look
    </a>
    if(party.MasterName == User.Identity.Name || User.IsInRole("Admin"))
    {
        <a href="~/Pages/Parties/RemoveParty.cshtml?id=@party.ID" class="list_link_button">
            remove
        </a>
    }
}
<br />
<br />
<a href="~/index.cshtml" class="link_button">
    Back
</a>


